* {
    border:0;
    padding: 0;
    box-sizing: border-box;
}


html, body, #root{
    width: 100%;
    height: 100%;
}

body {
    overflow-y: hidden;
}

#root {
    overflow-y: scroll;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.left-form, .right-form{
    width: 49%;
}

.product-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.react-datepicker-wrapper{
    display: block !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 4.7rem;
    line-height: 4.7rem;
    text-align: center;
    margin: 0.166rem;
}
.react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    margin-top: 0;
    color: #000;
    font-weight: bold;
    font-size: 1.3rem;
}

.resume-container{
    display: flex;
    flex-direction: row;
    margin-left: 7.5px;
    margin-right: 7.5px;
    justify-content: space-between;
}

.chart-container, .info-container {
    min-width: 50%;
    padding: 20px;
    background: #ffffff;
    margin: 7.5px 0px 7.5px 0px;

}

.chart{}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    max-height: 350px;
    background-color: lightblue;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    height: 100%;
    width: 100%;
    font-weight: 700;
}

.circle > img{
    width: 40%;
    margin-bottom: 20px;
}

.circle .title {
    font-size: 2em;
}

.circle .value {
    font-size: 3em;
}

.circle .date {
    font-size: 1em;
}

.react-datepicker__input-container{
    width: 100%;
}

.register-btn{
    width: 30%;
    margin: 15px auto;
    height: 50px;
    background: green;
    color: white;
    font-size: 1.5em;
    border: 0px;
    border-radius: 2;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    text-align: center;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    line-height: 32px;
    vertical-align: top;
    text-align: center;
}
.successfull{
    text-align: center;
    color: green;
    font-size: 20px;
    font-weight: 450;
}

.resume-content{
    display: flex;
    flex-direction: row;
}

.resume-charts{
    width: 66.66%;
}

.resume-info{
    width: 33.33%;
    padding: 20px;
    background: #ffffff;
    margin: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}

.list-container{
    max-width: 390px;
    margin:0 auto;
    padding: 15px;
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
}

.list-title{
    font-weight: 700;
}

.list-value{
    text-align: right;
}

.resume-info > img {
    width: 50%;
    margin-bottom: 1
}

.resume-info-container{
    width: 100%;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    height: 30px;
    padding: 10px 0px;
    font-size: 12px;
}

.log-form {
    width: 40%;
    min-width: 320px;
    max-width: 475px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  }
  @media (max-width: 40em) {
    .log-form {
      width: 95%;
      position: relative;
      margin: 2.5% auto 0 auto;
      left: 0%;
      -webkit-transform: translate(0%, 0%);
      -moz-transform: translate(0%, 0%);
      -o-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
    }
  }
  .log-form form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  .log-form h2 {
    color: white;
    /* font-family: 'open sans condensed'; */
    font-size: 1.35em;
    display: block;
    background: #2a2a2a;
    width: 100%;
    text-transform: uppercase;
    padding: 0.75em 1em 0.75em 1.5em;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.05);
    border: 1px solid #1d1d1d;
    margin: 0;
    font-weight: 700;
}
  .log-form input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: 0.5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    padding-left: 15px;
    color: #757575;
  }
  .log-form input:focus {
    outline: none;
  }
  .log-form .btn {
    display: inline-block;
    background: #1fb5bf;
    border: 1px solid #1ba0a9;
    padding: 0.5em 2em;
    color: white;
    margin-right: 0.5em;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .log-form .btn:hover {
    background: #23cad5;
  }
  .log-form .btn:active {
    background: #1fb5bf;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  }
  .log-form .btn:focus {
    outline: none;
  }
  .log-form .forgot {
    color: #33d3de;
    line-height: 0.5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    float: right;
  }
  .log-form .forgot:hover {
    color: #1ba0a9;
  }
  

  .form{
      padding:30px;
  }